[Unit]
Description={{ item.name }} container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a {{ item.name }}
ExecStop=/usr/bin/docker stop -t 2 {{ item.name }}

[Install]
WantedBy=default.target